/* reset.css - minimal reset targeted to elements actually used in index.html
   Purpose: avoid touching elements not present in the markup while removing common browser inconsistencies
*/

/* Box sizing */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Page basics */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.125rem;
}

/* Structural elements used */
main,
section,
div {
  display: block;
}

/* Images used in the markup */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form elements present in the markup */
form {
  margin: 0;
}
label {
  display: block;
}
input {
  font: inherit;
  color: inherit;
  background: transparent;
  outline: none;
}
input::-ms-clear {
  display: none;
}
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button {
  font: inherit;
  cursor: pointer;
}

/* Headings and text used */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}
p {
  margin: 0;
}

/* Inline elements used */
span,
small {
  display: inline-block;
}

/* Small utilities referenced by the project */
.hidden {
  display: none !important;
}