main {
  max-width: 43.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5.625rem;
}

.card-visualizer {
  background: url(../images/bg-main-mobile.png) no-repeat center;
  background-size: cover;
  height: 15rem;
  display: flex;
  justify-content: center;
}

.card-wrapper {
  position: relative;
  width: 100%;
  max-width: 17.8125rem;
  height: 12.5rem;
}

.card-front {
  position: absolute;
  top: 8.75rem;
  width: 85%;
  height: 8.4375rem;
  background: url(../images/bg-card-front.png) no-repeat center;
  border-radius: 0.5rem;
  color: var(--color-white);
  padding: 0.625rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.card-front .card-logo {
  width: 3.125rem;
}

.card-front .card-bottom {
  font-size: 0.625rem;
  display: flex;
  justify-content: space-between;
}

.card-back {
  position: absolute;
  top: 3.5rem;
  right: 0;
  width: 85%;
  height: 8.4375rem;
  background: url(../images/bg-card-back.png) no-repeat center;
  background-size: contain;
  border-radius: 0.5rem;
  color: var(--color-white);
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.875rem;
  font-size: 0.625rem;
}

.card-form {
  max-width: 18.75rem;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}

form input {
  width: 100%;
  padding: 0.625rem 1rem;
  border: 1px solid var(--color-gray-400);
  border-radius: 0.5rem;
  color: var(--color-purple-950);
  font-size: 0.875rem;
}

form input:focus {
  outline: none;
  border: 1px solid var(--color-primary-end);
}

form input::placeholder {
  color: var(--color-gray-400);
}

.form-group,
.form-row,
.submit-btn {
  width: 18.75rem;
}

.form-group label {
  font-size: 0.75rem;
  letter-spacing: 0.09375rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: var(--color-purple-950);
}

.form-row {
  display: flex;
  gap: 0.75rem;
  align-items: flex-end;
}

.expiry-date-subgroup {
  display: flex;
  gap: 0.5rem;
}

.expiry-date-subgroup input {
  width: 4.375rem;
}

.btn {
  background: var(--color-purple-950);
  color: var(--color-white);
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
}

.btn:hover,
.btn:active {
  background: var(--color-primary-end);
}

input.error {
  border: 2px solid var(--color-error);
}

.error-message {
  color: var(--color-error);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.confirmation-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 1.25rem;
  max-width: 18.75rem;
}

.confirmation-title {
  text-transform: uppercase;
  color: var(--color-purple-950);
  letter-spacing: 0.15625rem;
}

.confirmation-message {
  color: var(--color-gray-400);
  font-size: 1rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 768px) {
  main {
    flex-direction: row;
    min-width: 100vw;
    min-height: 100vh;
    gap: 11.25rem;
  }

  .card-visualizer {
    background: url(../images/bg-main-desktop.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    min-width: 35%;
    align-items: center;
    justify-content: flex-end;
  }

  .card-wrapper {
    width: 27.9375rem;
    height: 25rem;
  }

  .card-front {
    top: 0;
    left: 0.9375rem;
    width: 22.8125rem;
    height: 14.0625rem;
    font-size: 1.75rem;
    padding: 0.9375rem 1.25rem;
  }

  .card-front .card-logo {
    width: 3.75rem;
  }

  .card-front .card-bottom {
    font-size: 0.875rem;
  }

  .card-back {
    width: 22.8125rem;
    height: 14.0625rem;
    top: 14.375rem;
    left: 3.75rem;
    padding-right: 3.75rem;
    font-size: 0.875rem;
  }

  .card-form {
    display: flex;
    align-items: center;
    max-width: 23.75rem;
    width: 100%;
  }

  form {
    gap: 0.3125rem;
    width: 100%;
  }

  form input {
    width: 100%;
  }

  .form-group,
  .form-row,
  .submit-btn {
    width: 100%;
  }

  .confirmation-section {
    justify-content: center;
    max-width: 23.75rem;
    width: 100%;
  }
}
