main {
  max-width: 500px;
  width: 100%;
}

.card-visualizer {
  background: url(../images/bg-main-mobile.png) no-repeat center;
  background-size: cover;
  height: 240px;
  margin-bottom: 5.625rem;
  display: flex;
  justify-content: center;
}

.card-wrapper {
  position: relative;
  width: 100%;
  max-width: 285px;
  height: 200px;
}

.card-front {
  position: absolute;
  top: 140px;
  width: 85%;
  height: 135px;
  background: url(../images/bg-card-front.png) no-repeat center;
  border-radius: 0.5rem;
  color: var(--color-white);
  padding: 0.625rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.card-front .card-logo {
  width: 50px;
}

.card-front .card-bottom {
  font-size: 0.625rem;
  display: flex;
  justify-content: space-between;
}

.card-back {
  position: absolute;
  top: 56px;
  right: 0;
  width: 85%;
  height: 135px;
  background: url(../images/bg-card-back.png) no-repeat center;
  background-size: contain;
  border-radius: 0.5rem;
  color: var(--color-white);
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.875rem;
  font-size: 0.625rem;
}

.card-form {
    max-width: 300px;
    margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}

form input {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid var(--color-gray-400);
  border-radius: 0.5rem;
  color: var(--color-purple-950);
  font-size: 14px;
}

form input:focus {
  outline: none;
  border:2px solid var(--color-primary-end);
}

form input::placeholder {
    color: var(--color-gray-400);
}

.form-group,
.form-row,
.submit-btn {
  width: 300px;
}

.form-group label {
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
    font-weight: 700;
    color: var(--color-purple-950);
}

.form-row {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.expiry-date-subgroup {
  display: flex;
  gap: 8px;
}

.expiry-date-subgroup input {
  width: 70px;
}

.btn {
  background: var(--color-purple-950);
  color: var(--color-white);
  border: none;
  padding: 12px;
  border-radius: 0.5rem;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 16px;
  width: 100%;
}

.btn:hover {
  background: var(--color-primary-end);
}

input.error {
  border: 2px solid var(--color-error);
}

.error-message {
  color: var(--color-error);
  font-size: 14px;
  margin-top: 4px;
}

.confirmation-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 1.25rem;
  max-width: 300px;
}

.confirmation-title {
    text-transform: uppercase;
    color: var(--color-purple-950);
    letter-spacing: 2.5px;
}

.confirmation-message {
    color: var(--color-gray-400);
    font-size: 16px;
    margin-bottom: 20px;
}